.top-bar {
  margin-bottom: $grid-gutter-width/2;
  padding: 0px;
  min-height: 58px;
  z-index: map_get($z, 'topbar');

  .nav-item,
  .form-control,
  .btn {
    padding: $navbar-padding-y*2 $navbar-padding-x;
    border-radius: 0;
    height: auto;
  }

  .avatar {
    width: 58px;
    height: 58px;
    border-radius: 0px;
  }
}
